.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    background: #a73a3a;
    border: #1890ff;
    color: #fff;
  }
 
  

.trigger:hover {
    color: #1890ff;
  }
  
 .logo {
    height: 32px;
    margin: 16px;
    background: #a73a3a;
  }
  
 .Header {
    background: #fff;
  }

  .dp-flex{
    display: flex;
    background-color: inherit;
  }
