.ant-modal-content .ant-modal-title {
  color: #a73a3a;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.ant-modal-content .boxButton {
  text-align: center;
}

.ant-modal-content .boxButton button {
  color: #fff;
  font-weight: 700;
  border-color: rgb(167, 58, 58);
  background: rgb(167, 58, 58);
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.ant-modal-content .boxButton button:hover {
  background: rgb(167, 58, 58);
  border-color: rgb(167, 58, 58);
}

.ant-modal-content .boxButton button:focus {
  background: rgb(167, 58, 58);
  border-color: rgb(167, 58, 58);
}
